In [1]:
# import dependencies
import pandas as pd
import os
from datetime import datetime

In [2]:

# list all the files to read from Aug 2022 to July 2023
files_2022_2023 = ["data/JC-202208-citibike-tripdata.csv",
                "data/JC-202209-citibike-tripdata.csv",
                "data/JC-202210-citibike-tripdata.csv",
                "data/JC-202211-citibike-tripdata.csv",
                "data/JC-202212-citibike-tripdata.csv",
                "data/JC-202301-citibike-tripdata.csv",
                "data/JC-202302-citibike-tripdata.csv",
                "data/JC-202303-citibike-tripdata.csv",
                "data/JC-202304-citibike-tripdata.csv",
                "data/JC-202305-citibike-tripdata.csv",
                "data/JC-202306-citibike-tripdata.csv",
                "data/JC-202307-citibike-tripdata.csv"]

# Create an empty list to store the dataframes
files_list = []

# loop through each of the files
for file in files_2022_2023:
    
    # read multiple files in a df
    df = pd.read_csv(file)
    
    # append the df to the list
    files_list.append(df)
    
df = pd.concat(files_list)
    
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,D68047AAA9A72501,classic_bike,2022-08-12 18:14:45,2022-08-12 18:21:23,Columbus Drive,JC014,Hamilton Park,JC009,40.718355,-74.038914,40.727596,-74.044247,member
1,E5B82A9F588A7650,classic_bike,2022-08-19 01:04:39,2022-08-19 01:14:10,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,8 St & Washington St,HB603,40.736982,-74.027781,40.745984,-74.028199,member
2,13D19CCBCC9D7B76,classic_bike,2022-08-19 18:13:45,2022-08-19 19:32:47,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,11 St & Washington St,HB502,40.736982,-74.027781,40.749985,-74.027150,member
3,AA0DBFF220DA98F6,classic_bike,2022-08-21 13:43:05,2022-08-21 13:53:13,Columbus Drive,JC014,Montgomery St,JC099,40.718355,-74.038914,40.719420,-74.050990,member
4,8F11D340492FCD32,electric_bike,2022-08-04 22:02:12,2022-08-04 22:21:31,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Pershing Field,JC024,40.736982,-74.027781,40.742677,-74.051789,member

In [3]:
df.shape

(981011, 13)

In [4]:
# trip duration
# difference = time1 - time2 

df['start_time'] = df['started_at'].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S").strftime("%H:%M:%S"))
df['end_time'] = df['ended_at'].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S").strftime("%H:%M:%S"))

# Convert 'start_time' and 'end_time' columns to datetime objects
#df['start_time'] = pd.to_datetime(df['start_time'], format="%H:%M:%S")
#df['end_time'] = pd.to_datetime(df['end_time'], format="%H:%M:%S")
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_time,end_time
0,D68047AAA9A72501,classic_bike,2022-08-12 18:14:45,2022-08-12 18:21:23,Columbus Drive,JC014,Hamilton Park,JC009,40.718355,-74.038914,40.727596,-74.044247,member,18:14:45,18:21:23
1,E5B82A9F588A7650,classic_bike,2022-08-19 01:04:39,2022-08-19 01:14:10,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,8 St & Washington St,HB603,40.736982,-74.027781,40.745984,-74.028199,member,01:04:39,01:14:10
2,13D19CCBCC9D7B76,classic_bike,2022-08-19 18:13:45,2022-08-19 19:32:47,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,11 St & Washington St,HB502,40.736982,-74.027781,40.749985,-74.027150,member,18:13:45,19:32:47
3,AA0DBFF220DA98F6,classic_bike,2022-08-21 13:43:05,2022-08-21 13:53:13,Columbus Drive,JC014,Montgomery St,JC099,40.718355,-74.038914,40.719420,-74.050990,member,13:43:05,13:53:13
4,8F11D340492FCD32,electric_bike,2022-08-04 22:02:12,2022-08-04 22:21:31,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Pershing Field,JC024,40.736982,-74.027781,40.742677,-74.051789,member,22:02:12,22:21:31

In [ ]:
# Convert 'start_time' and 'end_time' columns to datetime objects
df['start_time'] = pd.to_datetime(df['start_time'], format="%H:%M:%S")
df['end_time'] = pd.to_datetime(df['end_time'], format="%H:%M:%S")

# Calculate the time duration by subtracting 'start_time' from 'end_time'
df['time_duration'] = df['end_time'] - df['start_time']
df.head()

In [5]:
df.to_csv('data/citi_bike_2022_2023.csv', index=False)